In [1]:
import pandas as pd

In [2]:
raw_housing_data=pd.read_csv("Raw_Housing_Prices2.csv")

In [3]:
raw_housing_data

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,263000018,14 May 2017,360000.0,3,2.50,1530.0,1131.0,3.0,No,None,...,8,1530.0,0,9,0,98103.0,47.6993,-122.346,1530.0,1509
21605,6600060120,15 February 2016,400000.0,4,2.50,2310.0,5813.0,2.0,No,None,...,8,2310.0,0,4,0,98146.0,47.5107,-122.362,1830.0,7200
21606,1523300141,14 June 2017,402101.0,2,0.75,1020.0,1350.0,2.0,No,None,...,7,1020.0,0,9,0,98144.0,47.5944,-122.299,1020.0,2007
21607,291310100,15 January 2016,400000.0,3,2.50,1600.0,2388.0,2.0,No,None,...,8,1600.0,0,14,0,98027.0,47.5345,-122.069,1410.0,1287
21608,1523300157,14 October 2017,325000.0,2,0.75,1020.0,1076.0,2.0,No,None,...,7,1020.0,0,10,0,98144.0,47.5941,-122.299,1020.0,1357

# Indentifing missing values in independent variable:

In [4]:
raw_housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21605 non-null  float64
 5   Flat Area (in Sqft)                        21600 non-null  float64
 6   Lot Area (in Sqft)                         21600 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21606 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21608 non-null  float64
 17  Latitude                                   21608 non-null  float64
 18  Longitude                                  21608 non-null  float64
 19  Living Area after Renovation (in Sqft)     21608 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

# Treating missing values in independent variable

In [5]:
#In independent variable impuattion is prefered over a deletion
#imputation: 1:for continous numeric var we impute by mean and median 2:for categorical var we impute by mode

#treating missing values in  numeric variables:

In [6]:
numerical_columns=["No of Bathrooms","Flat Area (in Sqft)","Lot Area (in Sqft)","Lot Area (in Sqft)",
                   "Area of the House from Basement (in Sqft)",
                  "Latitude","Longitude","Living Area after Renovation (in Sqft)"]

In [7]:
import numpy as np

from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy="median")
raw_housing_data[numerical_columns]=imputer.fit_transform(raw_housing_data[numerical_columns])

In [8]:
raw_housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21608 non-null  float64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [9]:
#here we see only zipcode remains with the missing value,lets check

In [10]:
'''imputer=SimpleImputer(missing_values=np.nan,strategy="median")
raw_housing_data["Zipcode"]=imputer.fit_transform(raw_housing_data["Zipcode"])

: it will show error as here zipcode is 1d array but SimpleImputer need 2d array arguement'''

raw_housing_data["Zipcode"].shape

(21609,)

In [11]:
#reshaping the column zipcode
column=raw_housing_data["Zipcode"].values.reshape(-1,1)
column.shape

(21609, 1)

In [12]:
imputer=SimpleImputer(missing_values=np.nan,strategy="most_frequent")
raw_housing_data["Zipcode"]=imputer.fit_transform(column)

In [13]:
raw_housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  float64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [14]:
#all the missing values in independent variable are replaced.

# Variable transformation:

In [15]:
#variable transformation is the need realted to datset where we transforms the
#variable as per our need.by checking wheather they affecting the target or not

# Transforming column zipcode:

In [16]:

#example:
#zipcode 101 may have low price but 102 may have high price as we know the adjacent zipcode may or may have adjacent houses
#so its better to convert this numeric variable to te categorical

In [17]:
raw_housing_data["Zipcode"]=raw_housing_data["Zipcode"].astype(object)#type converstion
raw_housing_data["Zipcode"].dtypes

dtype('O')

# Transforing column "NO of times visited"

In [18]:
#example 2 nd :
#no of times visited is contain data as string none one two etd we change it to numbers

In [19]:
raw_housing_data["No of Times Visited"].unique()

array(['None', 'Thrice', 'Four', 'Twice', 'Once'], dtype=object)

In [20]:
mapping={"None":"0","Once":"1","Twice":"2","Thrice":"3","Four":"4"}

In [21]:
raw_housing_data["No of Times Visited"]=raw_housing_data["No of Times Visited"].map(mapping)

In [22]:
raw_housing_data["No of Times Visited"].unique()

array(['0', '3', '4', '2', '1'], dtype=object)

# transforming Column "Renovated Year"

In [23]:
#deriving two new variables from the existing varibale renovated year:
#1. Ever renovated
#2. year since renovation

In [24]:
#1.
raw_housing_data["Ever Renovated"]=np.where(raw_housing_data["Renovated Year"]==0,"No","Yes")

In [25]:
raw_housing_data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,...,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650,No
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,...,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639,Yes
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,0,...,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062,No
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,...,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000,No
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,...,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503,No

In [26]:
#2
raw_housing_data["Purchase year"]=pd.DatetimeIndex(raw_housing_data["Date House was Sold"]).year

In [27]:
raw_housing_data["Years Since Renovation"]=np.where(raw_housing_data["Ever Renovated"]=="Yes",
                                                   abs(raw_housing_data["Purchase year"]-raw_housing_data["Renovated Year"]),0)

In [28]:
raw_housing_data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Purchase year,Years Since Renovation
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,...,63,0,98178.0,47.5112,-122.257,1340.0,5650,No,2017,0
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,...,67,1991,98125.0,47.7210,-122.319,1690.0,7639,Yes,2017,26
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,0,...,85,0,98028.0,47.7379,-122.233,2720.0,8062,No,2016,0
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,...,53,0,98136.0,47.5208,-122.393,1360.0,5000,No,2017,0
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,...,31,0,98074.0,47.6168,-122.045,1800.0,7503,No,2016,0

In [29]:
#now we have generated the varibale which is actually useful for model building,
#remaining varibales are now been droped using drop function

In [30]:
raw_housing_data.drop(columns=["Purchase year","Renovated Year","Date House was Sold"],inplace=True)

In [31]:
raw_housing_data.head()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,Condition of the House,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Years Since Renovation
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,Fair,...,1180.0,0,63,98178.0,47.5112,-122.257,1340.0,5650,No,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,Fair,...,2170.0,400,67,98125.0,47.7210,-122.319,1690.0,7639,Yes,26
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,Fair,...,770.0,0,85,98028.0,47.7379,-122.233,2720.0,8062,No,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,Excellent,...,1050.0,910,53,98136.0,47.5208,-122.393,1360.0,5000,No,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,Fair,...,1680.0,0,31,98074.0,47.6168,-122.045,1800.0,7503,No,0

# SAVING THE MODIFIED CSV:

In [32]:
raw_housing_data.to_csv("Transformed_Housing_data.csv",index=False)

# CORRELATION:

In [33]:
transformed_housing_data=pd.read_csv("Transformed_Housing_Data.csv")

In [34]:
transformed_housing_data

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,Condition of the House,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Years Since Renovation
0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,Fair,...,1180.0,0,63,98178.0,47.5112,-122.257,1340.0,5650,No,0
1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,Fair,...,2170.0,400,67,98125.0,47.7210,-122.319,1690.0,7639,Yes,26
2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,Fair,...,770.0,0,85,98028.0,47.7379,-122.233,2720.0,8062,No,0
3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,Excellent,...,1050.0,910,53,98136.0,47.5208,-122.393,1360.0,5000,No,0
4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,Fair,...,1680.0,0,31,98074.0,47.6168,-122.045,1800.0,7503,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,263000018,360000.0,3,2.50,1530.0,1131.0,3.0,No,0,Fair,...,1530.0,0,9,98103.0,47.6993,-122.346,1530.0,1509,No,0
21605,6600060120,400000.0,4,2.50,2310.0,5813.0,2.0,No,0,Fair,...,2310.0,0,4,98146.0,47.5107,-122.362,1830.0,7200,No,0
21606,1523300141,402101.0,2,0.75,1020.0,1350.0,2.0,No,0,Fair,...,1020.0,0,9,98144.0,47.5944,-122.299,1020.0,2007,No,0
21607,291310100,400000.0,3,2.50,1600.0,2388.0,2.0,No,0,Fair,...,1600.0,0,14,98027.0,47.5345,-122.069,1410.0,1287,No,0
21608,1523300157,325000.0,2,0.75,1020.0,1076.0,2.0,No,0,Fair,...,1020.0,0,10,98144.0,47.5941,-122.299,1020.0,1357,No,0

In [35]:
#finding coorelation: target variable with flat area
transformed_housing_data["Sale Price"].corr(transformed_housing_data["Flat Area (in Sqft)"])

0.6951704258420672

In [36]:
#USING NUMPY LIN FINDING CORRELATION:
np.corrcoef(transformed_housing_data["Sale Price"],transformed_housing_data["Flat Area (in Sqft)"])

array([[1.        , 0.69517043],
       [0.69517043, 1.        ]])

In [37]:
#finding correlation between all varibles:
transformed_housing_data.drop(columns=["ID"]).corr() 
#we exclude the id column beacause we need not to consider it in correlation

C:\Users\vishvajeet\AppData\Local\Temp\ipykernel_102328\790713366.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  transformed_housing_data.drop(columns=["ID"]).corr()

,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Years Since Renovation
Sale Price,1.000000,0.339407,0.535124,0.695170,0.101319,0.298913,0.356114,0.680914,0.606527,0.307513,-0.064306,-0.043047,0.402430,0.045401,0.629944,0.092325,0.065907
No of Bedrooms,0.339407,1.000000,0.515813,0.576628,0.031692,0.175536,0.079575,0.349223,0.477549,0.303294,-0.154113,-0.152760,-0.008708,0.129569,0.391771,0.029264,-0.007198
No of Bathrooms,0.535124,0.515813,1.000000,0.754568,0.087732,0.500776,0.187791,0.635638,0.685088,0.283798,-0.505954,-0.203951,0.024570,0.223171,0.568568,0.087226,0.003551
Flat Area (in Sqft),0.695170,0.576628,0.754568,1.000000,0.172721,0.354142,0.284678,0.705725,0.876226,0.435142,-0.318146,-0.199380,0.052538,0.240091,0.756185,0.183223,0.023503
Lot Area (in Sqft),0.101319,0.031692,0.087732,0.172721,1.000000,-0.005162,0.074668,0.102314,0.183492,0.015252,-0.053119,-0.129551,-0.085719,0.229449,0.144507,0.718527,0.013835
No of Floors,0.298913,0.175536,0.500776,0.354142,-0.005162,1.000000,0.029504,0.461368,0.524031,-0.245572,-0.489244,-0.059222,0.049692,0.125620,0.280106,-0.011204,-0.000901
No of Times Visited,0.356114,0.079575,0.187791,0.284678,0.074668,0.029504,1.000000,0.223661,0.167812,0.276974,0.053395,0.084830,0.006162,-0.078453,0.280452,0.072561,0.093546
Overall Grade,0.680914,0.349223,0.635638,0.705725,0.102314,0.461368,0.223661,1.000000,0.705153,0.145232,-0.456711,-0.185844,0.111226,0.201736,0.681362,0.107581,-0.024388
Area of the House from Basement (in Sqft),0.606527,0.477549,0.685088,0.876226,0.183492,0.524031,0.167812,0.705153,1.000000,-0.051825,-0.423848,-0.261124,-0.000819,0.343793,0.731996,0.194106,0.010491
Basement Area (in Sqft),0.307513,0.303294,0.283798,0.435142,0.015252,-0.245572,0.276974,0.145232,-0.051825,1.000000,0.133072,0.074933,0.110451,-0.144822,0.200302,0.017263,0.029158
Age of House (in Years),-0.064306,-0.154113,-0.505954,-0.318146,-0.053119,-0.489244,0.053395,-0.456711,-0.423848,0.133072,1.000000,0.346928,0.148083,-0.409515,-0.326307,-0.071016,0.203375
Zipcode,-0.043047,-0.152760,-0.203951,-0.199380,-0.129551,-0.059222,0.084830,-0.185844,-0.261124,0.074933,0.346928,1.000000,0.267022,-0.564138,-0.278972,-0.147223,0.049659
Latitude,0.402430,-0.008708,0.024570,0.052538,-0.085719,0.049692,0.006162,0.111226,-0.000819,0.110451,0.148083,0.267022,1.000000,-0.135551,0.048836,-0.086420,0.019739
Longitude,0.045401,0.129569,0.223171,0.240091,0.229449,0.125620,-0.078453,0.201736,0.343793,-0.144822,-0.409515,-0.564138,-0.135551,1.000000,0.334515,0.254428,-0.055039
Living Area after Renovation (in Sqft),0.629944,0.391771,0.568568,0.756185,0.144507,0.280106,0.280452,0.681362,0.731996,0.200302,-0.326307,-0.278972,0.048836,0.334515,1.000000,0.183188,-0.008390
Lot Area after Renovation (in Sqft),0.092325,0.029264,0.087226,0.183223,0.718527,-0.011204,0.072561,0.107581,0.194106,0.017263,-0.071016,-0.147223,-0.086420,0.254428,0.183188,1.000000,0.011289
Years Since Renovation,0.065907,-0.007198,0.003551,0.023503,0.013835,-0.000901,0.093546,-0.024388,0.010491,0.029158,0.203375,0.049659,0.019739,-0.055039,-0.008390,0.011289,1.000000

note:

only those variable are considered in building the mmodel which have high correlation(positive or negative) with target variable.

# correlation between indepedent variables:

In [38]:
transformed_housing_data["Flat Area (in Sqft)"].corr(transformed_housing_data["Sale Price"])

0.6951704258420672

In [39]:
transformed_housing_data["Flat Area (in Sqft)"].corr(transformed_housing_data['No of Bedrooms'])

0.5766279110291888

In [40]:
#if two indepedent variables are highly correlated with each other then we drop one of them as choose 
#one.because if they highly correlated then one og them may not contribute very well in model 
#example:(data showing "no bedrooms " and flat area are hihly corrrelated )
#consider a house with small flat area and high bedrooms may not be have high sale value but model will predict it as highsaled
#as beacause we given both varibles as input.so we have to choose which is best an dwhich one should be dropped